<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Asker|Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/profile.css">
</head>

<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight"> Asker</span></h1>
            </div>
            <!--<div id="search">
                <form action="">
                    <input type="text" placeholder="Search question...">
                    <button type="submit" class="button">Search</button>
                </form>

            </div>-->
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li class="current"><a href="profile.html">Profile</a></li>
                    <li>Welcome SIMON OKELLO</li>
                    <li><a href="index.html">SignOut</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="main">
        <div class="container">
            <aside id="left_side">

                <img src="../static/images/user.png" alt="No Image Found">
                <h3>Username: User1</h3>
                <h3>Email:user@example.com</h3>
                <div class="status">
                    <h3>Questions posted: [ {{meetups.count}} ]</h3>
                    <h3> Questions commented [3]</h3>
                </div>
            </aside>
            <article id="main-col">
                <h1>My Questions Feed</h1>
                <ul id="questions">
                    {% for meetup in meetups %}
                    <li>
                        <h3>
                            <a href="#">{{ meetup.title }}</a>
                        </h3>
                        <small><i>Created on:</i>
                            {{ meetup.created_on.date }}
                        </small>
                        <hr>
                        <hr>
                        {% for comment in meetup.comments.all %}
                        <div class="comment">
                            <p>
                                On {{comment.created_date }}&nbsp;
                                <b>{{ comment.author }}</b> asked:
                            </p>
                            <p>{{ comment.text|linebreaks }}</p>
                        </div>
                        <hr>
                        <!--<a href=""><span class="upvote">({{comment.up_vote}}) Upvote</span></a> || <a href=""><span
                                class="downvote">({{comment.down_vote}})
                                Downvote</span></a>-->
                        {% empty %}
                        <p>No questions here yet</p>

                        {% endfor %}
                        {% empty %}
                        <p>There is no meetups</p>
                        {% endfor %}
                    </li>
                </ul>
            </article>

        </div>
    </section>


    <footer>
        <p>&copy;2019 Asker. All rights reserved</p>
    </footer>
</body>

</html>