<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Asker|Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/login.css" />
  </head>

  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight"> Asker</span></h1>
        </div>
        <nav>
          <ul>
            <li class="current"><a href="/">Home</a></li>
            <li><a href="/register">SignUp</a></li>
            <li><a href="/admin">Admin</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section id="signup">
      <div class="container">
        <h1>Login</h1>
        <form method="POST">
          {% csrf_token%}
         {{ form.as_p }}
          <button type="submit" class="button">Login</button>
        </form>
        <p><a href="/reset">Forgot password?</a></p>
        <p>
          Not A Member Yet? Join Questioner Today
          <a href="/register">SignUp</a>
        </p>
      </div>
    </section>

    <footer>
      <p>&copy;2019 Asker. All rights reserved</p>
    </footer>
  </body>
</html>
